.search-box {
  max-width: 420px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 60px;
  .search-box__form {
    width: 100%;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    input {
      all: unset;
      width: 100%;
      height: inherit;
      background-color: $search;
      padding: 0 20px;
      font-size: 18px;
    }
  }
  button {
    all: unset;
    width: 80px;
    height: 52px;
    padding: 0;
    background-color: $button;
    text-align: center;
    cursor: pointer;
  }
}
