header {
  height: 40px;
  position: sticky;
  top: 0;
  left: 0;
  padding-right: 50px;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
  background-color: $header;
  .header__logo {
    color: $red;
    font-size: 38px;
  }
  @include mobile {
    .header__logo {
      font-size: 30px;
    }
  }

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    li {
      margin-left: 30px;
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;
    }
    @include mobile {
      li {
        margin-left: 30px;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
      }
    }
    i {
      font-size: 16px;
    }
  }
  .header__btn {
    background-color: white;
    color: $header;
    padding: 5px 10px;
    border-radius: 5px;
  }
  .header__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .header__avatar--span {
    font-size: 20px;
  }
}
@include mobile {
  header {
    padding: 20px;
  }
}
