@import "../config/mixin";
.empty__message {
  margin-bottom: 50px;
  font-size: 18px;
}

@include desktop {
  .video-grid {
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
@include tablet {
  .video-grid {
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@include mobile {
  .video-grid {
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    padding: 0 50px;
  }
}
.auth-switch {
  text-align: center;
  margin-top: 40px;
  a {
    text-decoration: underline;
  }
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
