doctype html 
html(lang="ko")
    head
        title #{pageTitle} | #{siteName}
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body
        header 
            h1=pageTitle
        nav 
            ul 
                li
                    a(href="/") 홈
                if loggedIn
                    li
                        a(href="/users/edit") 프로필 수정 
                    li 
                        a(href="/users/logout") 로그아웃
                    li
                        a(href="/videos/upload") 비디오 업로드
                else 
                    li
                        a(href="/join") 회원가입
                    li
                        a(href="/login") 로그인
                li
                    a(href="/search") 검색
        main 
            block content
    include partials/footer