extends base

block content
    img(src="/" + loggedInUser.avatarUrl, width="100", height="100")
    form(method="POST", enctype="multipart/form-data")
        label(for="avatar") Avatar
        input(type="file", id="avatar", name="avatar", accept="image/*")
        input(placeholder="이름",name="name", type="text", required, value=loggedInUser.name)
        input(placeholder="이메일",name="email", type="email", required,value=loggedInUser.email)
        input(placeholder="아이디",name="username", type="text", required,value=loggedInUser.username)
        input(placeholder="주소",name="location", type="text", required,value=loggedInUser.location)
        input(type="submit", value="Update Profile")
        if !loggedInUser.socailOnly
            hr
            a(href="change-password") Change Password &rarr;