extends base.pug
include mixins/video

block content   
    div.search-box
        form(method="GET").search-box__form
            input(placeholder="검색", name="keyword", type="text")
        button(type="submit")
            i.fas.fa-search

    div.video-grid
        each video in videos 
            +video(video)
        else
            span.empty__message 비디오를 찾을 수 없습니다.