extends base.pug

block content
    div.upload__container
        div.upload__video
            video#preview
            button#actionBtn.social__btn Start Recording
        if errorMessage
            span=errorMessage
        form(method="POST", enctype="multipart/form-data")
            label(for="video") 영상
            input(type="file", accept="video/*", required, id="video", name="video")
            label(for="thumb") 썸네일
            input(type="file", accept="image/*", required, id="thumb", name="thumb")
            input(placeholder="제목", required, type="text", name="title", maxlength=80)
            input(placeholder="설명", required, type="text", name="description", minlength=20)
            input(placeholder="해시태그를, 입력해주세요 ", required, type="text", name="hashtags")
            input(type="submit", value="업로드하기")

block scripts
    script(src="/static/js/recorder.js") 